
        <!-- Header-->
        <!-- Section-->
        <section class="py-5" >
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        
                      </div>
                  <div class="col" style="font-size: 100px;" >
                    <a style="text-decoration: none; color: inherit;
                    "routerLink ="../search"><mat-icon id="search" class="grow" inline="true">search</mat-icon></a> 
                  </div>
                  <div class="col" style="font-size: 100px;">
                    <a style="text-decoration: none; color: inherit;
                    " routerLink ="../create"><mat-icon  class="grow" inline="true">person_add</mat-icon></a> 
                  </div>
                  <div class="col">
                
                  </div>
                </div>
             
                    <div class="row">
                        <div class="col">
                            
                          </div>
                          <div class="col" style="font-size: 100px;">
                            <a style="text-decoration: none; color: inherit;
                            " routerLink ="../delete"><mat-icon  class="grow" inline="true">delete</mat-icon></a> 
                          </div>
                          <div class="col" style="font-size: 100px;">
                            <a style="text-decoration: none; color: inherit;
                            " routerLink ="../update"><mat-icon  class="grow" inline="true">edit</mat-icon></a> 
                          </div>
                      <div class="col">
                        
                      </div>
                 
                </div>
            </div>
        </section>
        <!-- Footer-->
       
        <!-- Bootstrap core JS-->
